node_modules/
.expo/
.tamagui/
dist/
web-build/
expo-env.d.ts

android/
ios/
.gradle/
.kotlin/
*.apk
*.aab
*.jks
*.p8
*.p12
*.key
*.mobileprovision

npm-debug.*
yarn-debug.*
yarn-error.*
.npm/
*.tsbuildinfo

.env*.local
.DS_Store