AUTH_SETTINGS__PASSWORD_PEPPER=CHANGE_ME_PASSWORD_PEPPER
DB_SQL_SETTINGS__HOST=postgres
DB_SQL_SETTINGS__PORT=5432
DB_SQL_SETTINGS__USERNAME=CHANGE_ME_DB_USERNAME
DB_SQL_SETTINGS__PASSWORD=CHANGE_ME_DB_PASSWORD
DB_SQL_SETTINGS__DATABASE=store_db
VECTOR_STORE_SETTINGS__CHROMA_HOST=chroma
VECTOR_STORE_SETTINGS__CHROMA_PORT=8000
VECTOR_STORE_SETTINGS__CHROMA_ANONYMIZED_TELEMETRY=false
EMBEDDING_WORKER_INITIAL_DELAY_SECONDS=15
EMBEDDING_WORKER_INTERVAL_SECONDS=900
EMBEDDING_WORKER_PAGE_SIZE=100
EMBEDDING_WORKER_MODEL_NAME=sentence-transformers/paraphrase-multilingual-MiniLM-L12-v2
PAYMENTS_SETTINGS__PROVIDER_URL=https://api.sandbox.paynow.pl/v1/payments
PAYMENTS_SETTINGS__API_KEY=PAYMENTS_API_KEY
PAYMENTS_SETTINGS__SIGN_PHRASE=PAYMENTS_SIGN_PHRASE