AUTH_SETTINGS__PASSWORD_PEPPER=default_pepper_value
DB_SQL_SETTINGS__HOST=postgres
DB_SQL_SETTINGS__PORT=5432
DB_SQL_SETTINGS__USERNAME=postgres
DB_SQL_SETTINGS__PASSWORD=postgres
DB_SQL_SETTINGS__DATABASE=store_db
VECTOR_STORE_SETTINGS__CHROMA_HOST=chroma
VECTOR_STORE_SETTINGS__CHROMA_PORT=8001
VECTOR_STORE_SETTINGS__CHROMA_ANONYMIZED_TELEMETRY=false