DB_SQL_SETTINGS__HOST=localhost
DB_SQL_SETTINGS__PORT=5432
DB_SQL_SETTINGS__USERNAME=postgres
DB_SQL_SETTINGS__PASSWORD=postgres
DB_SQL_SETTINGS__DATABASE=store_db
AUTH_SETTINGS__PASSWORD_PEPPER=default_pepper_value